.env
public
themes
build
storage
node_modules
.DS_Store
*static/.DS_Store
.netlify/
secure_assets
static/js/*
static/handouts/*.pdf
temp_*
.gemini/
/static/tool_assets/oit_calculator/public_oit_patient_resource_terms.pdf
