// sass/core/_typography.scss
@use "variables" as *;

// FONT STACKS
// -------------------------

$core-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$core-font-serif: "Georgia", "Times New Roman", Times, serif; // fancier feeling, maybe for legal text?
$core-font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

// MODULAR SCALE
// -------------------------

$core-font-size-xs: 0.75rem;
$core-font-size-sm: 0.875rem;
$core-font-size-md: 1rem;
$core-font-size-lg: 1.125rem;
$core-font-size-xl: 1.25rem;
$core-font-size-2xl: 1.5rem;
$core-font-size-3xl: 2rem;

// BASE STYLES
// -------------------------

%core-text-balance {
  text-wrap: balance;
}

%core-text-pretty {
  text-wrap: pretty;
}